* {
    margin: 0px;
    padding: 0px;
}

form {
    margin: auto;
}

#formDiv {
    background-color: mediumpurple;
    margin-top: 8em;
    height: 490px;
    box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.7), 0 5px 21px 0 rgba(0, 0, 0, 0.7);
}

#mainDiv {
    width: 80%;
    margin-left: 9em;
    position: absolute;
}

#contentDiv {
    width: 50%;
    height: 79.6%;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom:1.1% ;
    float: right;
    background-color: white;
    padding-top: 5em;
}

#email-image{
    
    width: 48%;
    height: 96%;
   margin-left: 1%;
   margin-top: 1%;
   
}

#span-element{
    margin-left: 3em;
}

footer {
    text-align: center;
    font-size: 21px;
    position: absolute;
    margin-top: 720px;
    margin-left: 700px;
}

h1 {
    margin: 34px;
    font-weight: 300;
    font-size: 34px;
    color: black;
}

input {
    margin: 34px;
    font-size: 25px;
    
}

input[type="text"]{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 70%;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    transition: 0.2s ease;
}

input[type="text"]:focus{
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
}

input[type="submit"] {
    margin-top: 28px;
    width: 70%;
    height: 34px;
    background: mediumpurple;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    opacity: 0.8;
    border-radius: 34px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}